/* Style for the message container */
#message-container {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  background: var(--background);
}

.sender {
  background-color: palegreen;
  color: black;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 12px;
  width: fit-content;
  max-width: 70%;
  margin-left: auto;
  margin-right: 5px;
  text-align: right;
}

.receiver {
  background-color: palegoldenrod;
  color: black;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 12px;
  width: fit-content;
  max-width: 70%;
  margin-right: auto;
  margin-left: 5px;
  text-align: left;
}

.nuetral {
  margin: 10px;
  color: #666;
  max-width: 100%;
  text-align: center;
}

.sender pre,
.receiver pre  {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.sender p,
.receiver p {
  font-size: 10px;
  color: #666;
}

.typing-indicator {
  display: inline-block;
  position: relative;
}
